<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
  <key>URL</key>
  <dict>
    <key>UFlix</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>http://uflix.me/</string>
        <string>http://www.uflix.is/</string>
        <string>http://vizz.is/</string>
        <string>http://uflix.ws/</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>
