<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
  <key>URL</key>
  <dict>
    <key>XMovies8</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>http://xmovies8.co/</string>
        <string>http://xmovies8.tv/</string>
        <string>http://xmovies8.org/</string>
        <string>http://xmovies8.so/</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>
